{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col1">
            <h1>Добавить продукт</h1>
            <br>
            <form>
                <div class="mb-3">
                  <label  class="form-label">Название продукта</label>
                  <input type="text" class="form-control" name="name">>
                <div class="mb-3">
                  <label  class="form-label">Фотография</label>
                  <input type="file" class="form-control"name="image">
                </div>
                <label  class="form-label">Цена</label>
                <input type="text" class="form-control" name="price">
                <label  class="form-label">Oпиание</label>
                <br>
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </form>
           
        </div>
    </div>
</div>
{% endblock %}